@using PustokProject.ViewModels.BookList
@model IEnumerable<VM_BookListItem>


<div class="shop-product-wrap list with-pagination row space-db--30 shop-border">
	@foreach (VM_BookListItem bookItem in Model)
	{
		<div class="col-lg-4 col-sm-6">
			<div class="product-card card-style-list">
				<div class="product-grid-content">
					<div class="product-header">
						<a href="#" class="author">
							@bookItem.Authors
						</a>
						<h3><a href="product-details.html">@bookItem.Name</a></h3>
					</div>
					<div class="product-card--body">
						<div class="card-image">
							<img src="image/products/product-2.jpg" alt="">
							<div class="hover-contents">
								<a href="product-details.html" class="hover-image">
									<img src="~/bookimages/@bookItem.ImageUrl" alt="">
								</a>
								<div class="hover-btns">
								</div>
							</div>
						</div>
						<div class="price-block">
							<span class="price">£@bookItem.Price</span>
							@if (@bookItem.DiscountRate != 0)
							{
								<del class="price-old">£@bookItem.DiscountedPrice</del>
								<span class="price-discount">@bookItem.DiscountRate%</span>
							}
						</div>
					</div>
				</div>
				<div class="product-list-content">
					<div class="card-image">
						<img src="image/products/product-3.jpg" alt="">
					</div>
					<div class="product-card--body">
						<div class="product-header">
							<a href="#" class="author">
								@bookItem.Name = Name
							</a>
							<h3>
								<a href="product-details.html" tabindex="0">
									@bookItem.Description
								</a>
							</h3>
						</div>
						<article>
							<h2 class="sr-only">Card List Article</h2>
							<p>
								More room to move. With 80GB or 160GB of storage and up to 40 hours
								of battery life, the new iPod classic
								lets you enjoy
								up to 40,000 songs or..
							</p>
						</article>
						<div class="price-block">
							<span class="price">£51.20</span>
							<del class="price-old">£51.20</del>
							<span class="price-discount">20%</span>
						</div>
						<div class="rating-block">
							<span class="fas fa-star star_on"></span>
							<span class="fas fa-star star_on"></span>
							<span class="fas fa-star star_on"></span>
							<span class="fas fa-star star_on"></span>
							<span class="fas fa-star "></span>
						</div>
						<div class="btn-block">
							<a href="#" class="btn btn-outlined">Add To Cart</a>
							<a href="#" class="card-link">
								<i class="fas fa-heart"></i> Add To
								Wishlist
							</a>
							<a href="#" class="card-link">
								<i class="fas fa-random"></i> Add To
								Cart
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>